{% extends '@Forecast/base.html.twig' %}

{% block forecast_content %}

    <div class="ui text container">
        <h1 class="ui header">
            <i class="share alternate icon"></i>
            {% if sportForecast.id %}
                {{ 'title.sport_forecast_edit'|trans }} #{{ sportForecast.id }}
            {% else %}
                {{ 'title.sport_forecast_add'|trans }}
            {% endif %}
        </h1>

        <div class="ui segment">
            <form class="ui form"
                  action="{% if sportForecast.id %}{{ path('forecast_sport_forecast_edit', {id: sportForecast.id}) }}{% else %}{{ path('forecast_sport_forecast_add') }}{% endif %}"
                  method="post" novalidate
                  enctype="multipart/form-data">
                {{ form_widget(form._token) }}

                <div class="field {{ form_errors(form.title) ? 'error' : '' }}">
                    {{ form_label(form.title) }}
                    <div class="ui input">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                {% if form_errors(form.title) %}
                    <div class="ui negative message">
                        {{ form_errors(form.title) }}
                    </div>
                {% endif %}

                <div class="field required {{ form_errors(form.betting) ? 'error' : '' }}">
                    {{ form_label(form.betting) }}
                    <div class="ui left icon input">
                        <i class="euro icon"></i>
                        {{ form_widget(form.betting) }}
                    </div>
                </div>
                {% if form_errors(form.betting) %}
                    <div class="ui negative message">
                        {{ form_errors(form.betting) }}
                    </div>
                {% endif %}

                <div class="field {{ form_errors(form.ticketFile) ? 'error' : '' }}">
                    {{ form_label(form.ticketFile) }}
                    <div class="ui input">
                        {{ form_widget(form.ticketFile) }}
                    </div>
                </div>
                {% if form_errors(form.ticketFile) %}
                    <div class="ui negative message">
                        {{ form_errors(form.ticketFile) }}
                    </div>
                {% endif %}

                <div class="field required {{ form_errors(form.isVip) ? 'error' : '' }}">
                    <div class="inline fields">
                        {{ form_label(form.isVip) }}
                        {{ form_widget(form.isVip) }}
                    </div>
                </div>
                {% if form_errors(form.isVip) %}
                    <div class="ui negative message">
                        {{ form_errors(form.isVip) }}
                    </div>
                {% endif %}

                <div class="field required {{ form_errors(form.bookmaker) ? 'error' : '' }}">
                    {{ form_label(form.bookmaker) }}
                    {{ form_widget(form.bookmaker) }}
                </div>
                {% if form_errors(form.bookmaker) %}
                    <div class="ui negative message">
                        {{ form_errors(form.bookmaker) }}
                    </div>
                {% endif %}

                <div class="ui center aligned container">
                    <a class="ui button" href="{{ app.request.headers.get('referer') }}">
                        {{ 'label.cancel'|trans }}
                    </a>
                    <button class="ui primary labeled icon button" type="submit">
                        {% if sportForecast.id %}
                            <i class="edit icon"></i>
                            {{ 'button.edit'|trans }}
                        {% else %}
                            <i class="plus icon"></i>
                            {{ 'button.add'|trans }}
                        {% endif %}
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
