{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .column {
            max-width: 450px;
        }
        .negative ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui centered grid">
        <div class="column">
            <h2 class="ui blue image header">
                <div class="content">
                    {{ 'title.reset_password'|trans }}
                </div>
            </h2>

            <form method="post" action="{{ path('reset_password') }}" novalidate class="ui form">
            {{ form_widget(form._token) }}
            <div class="field">
                {{ form_label(form.email) }}
                <div class="ui left icon input">
                    <i class="at icon"></i>
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <button class="ui fluid submit large blue button" type="submit">
                {{ 'button.reset'|trans }}
            </button>
            </form>

            {% if error != false %}
                <div class="ui negative message">
                    <span>{{ error }}</span>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}