{% extends 'email.html.twig' %}

{% block preheader %}{% endblock %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600"
           style="margin: auto;" class="email-container">
        <!-- Title -->
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 40px 20px; text-align: center;">
                <h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">{{ sportForecast.tipster.user.nickname }}
                {% if sportForecast.isVip == true %}
                    {{ 'title.email_sport_forecast_vip'|trans }}
                {% else %}
                    {{ 'title.email_sport_forecast_free'|trans }}
                {% endif %}
                </h1>
            </td>
        </tr>
        <!-- Title END -->

        <!-- Thumbnail Left, Text Right : BEGIN -->
        <tr>
            <td bgcolor="#ffffff" dir="ltr" align="center" valign="top" width="100%" style="padding: 10px;">
                <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">

                    <!-- Hero Image, Flush : BEGIN -->
                    <tr>
                        <td bgcolor="#ffffff" align="center">
                            <img
                                    {% if sportForecast.ticket %}
                                        src="{{ asset(vich_uploader_asset(sportForecast, 'ticketFile')) | imagine_filter('thumb500') }}"
                                    {% else %}
                                        src="{{ asset('/images/image.png') | imagine_filter('thumb500') }}"
                                    {% endif %}
                                    width="250" height="" alt="sport forecast ticket" border="0" align="center"
                                    style="width: 100%; max-width: 500px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; margin: auto;"
                                    class="g-img">
                        </td>
                    </tr>
                    <!-- Hero Image, Flush : END -->


                </table>
            </td>
        </tr>
        <!-- Thumbnail Left, Text Right : END -->

        <tr>
            <td bgcolor="#ffffff" style="padding: 0px 40px 20px; text-align: center;">
                <h2 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">
                    {% if sportForecast.title %}
                        {{ sportForecast.title }}
                    {% else %}
                        {{ 'label.sport_forecast_number'|trans }} {{ sportForecast.id }}
                    {% endif %}
                </h2>
            </td>
        </tr>

        <tr>
            <td bgcolor="#ffffff" dir="ltr" align="center" valign="top" width="100%" style="padding: 10px;">
                <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td valign="middle"
                            style="text-align: center; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #000000;">
                            {{ 'label.rating'|trans }} : {{ sportForecast.globalRating|number_format(2, ',') }}
                            &#032; &#124; &#032;
                            {{ 'label.betting'|trans }} : {{ sportForecast.betting|number_format(2, ',') }} &euro;
                            &#032; &#124; &#032;
                            {{ 'label.winnings'|trans }} : {{ sportForecast.getWinning|number_format(2, ',') }} &euro;
                            &#032; &#124; &#032;
                            {{ 'label.confidenceIndex'|trans }} : {{ sportForecast.averageConfidenceIndex }} &#47; 5
                            &#032; &#124; &#032;
                            {{ sportForecast.bookmaker.name }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        {% for sportBet in sportForecast.sportBets %}
            <tr>
                <td bgcolor="#ffffff" dir="ltr" align="center" valign="top" width="100%" style="padding: 10px;">
                    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <!-- Column : BEGIN -->
                            <td width="33.33%" class="stack-column-center">
                                <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0"
                                       width="100%">
                                    <tr>
                                        <td dir="ltr" valign="top" style="padding: 0 10px;">
                                            <img src="
                                                    {% if sportBet.sport.icon %}

                                                        {{ asset(vich_uploader_asset(sportBet.sport, 'iconFile')) | imagine_filter('thumb150') }}
                                                    {% else %}

                                                        {{ asset('/images/image.png') | imagine_filter('thumb150') }}
                                                    {% endif %}
                                                    " alt="sport icon" border="0" class="center-on-narrow"
                                                 style="height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <!-- Column : END -->
                            <!-- Column : BEGIN -->
                            <td width="66.66%" class="stack-column-center">
                                <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0"
                                       width="100%">
                                    <tr>
                                        <td dir="ltr" valign="top"
                                            style="font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px; text-align: left;"
                                            class="center-on-narrow">
                                            <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 21px; color: #333333; font-weight: bold;">{{ sportBet.winner }}</h2>
                                            <ul style="margin:0; padding:0; list-style-type: none">
                                                <li>{{ 'label.playedAt'|trans }} {{ sportBet.playedAt|date('d/m/Y') }}
                                                    à {{ sportBet.playedAt|date('H:i') }}</li>
                                                <li>{{ 'label.rating'|trans }}
                                                    : {{ sportBet.rating|number_format(2, ",", " ") }}</li>
                                                <li>{{ sportBet.sport.name }}
                                                    {% if sportBet.championship %}
                                                        - {{ sportBet.championship.name }}
                                                    {% endif %}</li>
                                                <li>{{ 'label.confidenceIndex'|trans }}
                                                    : {{ sportBet.confidenceIndex }} / 5</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <!-- Column : END -->
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto">
                    <tr>
                        <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                            <a href="{{ url('sport_forecast_show', {id: sportForecast.id}) }}" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                                &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff;">{{ 'label.show_sport_forecast'|trans }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>

    </table>
{% endblock %}