{% extends "::base.html.twig" %}

{% block body %}
    <div class="ui container">

        <h1>{{ 'title.newsletter_subscription'|trans }}</h1>

        <div class="ui text container segment">
            <form class="ui form" action="{{ path('subscriber_subscribe') }}" method="post" novalidate>

                {{ form_widget(form._token) }}

                <div class="field required {{ form_errors(form.email) ? 'error' : '' }}">
                    {{ form_label(form.email) }}
                    <div class="ui left icon input">
                        <i class="at icon"></i>
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                {% if form_errors(form.email) %}
                    <div class="ui negative message">
                        {{ form_errors(form.email) }}
                    </div>
                {% endif %}

                <div class="field required {{ form_errors(form.confirm) ? 'error' : '' }}">
                    <div class="ui checkbox">
                        {{ form_widget(form.confirm) }}
                        <label>{{ 'label.newsletter_confirm'|trans }} {{ app_name }}</label>
                    </div>
                </div>
                {% if form_errors(form.confirm) %}
                    <div class="ui negative message">
                        {{ form_errors(form.confirm) }}
                    </div>
                {% endif %}

                <div class="field {{ form_errors(form.partners) ? 'error' : '' }}">
                    <div class="ui checkbox">
                        {{ form_widget(form.partners) }}
                        <label>{{ 'label.newsletter_partners'|trans }} {{ app_name }}</label>
                    </div>
                </div>
                {% if form_errors(form.partners) %}
                    <div class="ui negative message">
                        {{ form_errors(form.partners) }}
                    </div>
                {% endif %}

                <button class="ui primary button" type="submit">{{ 'button.subscribe'|trans }}</button>
            </form>
        </div>

    </div>
{% endblock %}
