{{ form_widget(form._token) }}

<div class="ui segment">
    <div class="ui header">{{ 'label.personal_informations'|trans }}</div>
    <div class="field required {{ form_errors(form.firstName) ? 'error' : '' }}">
        {{ form_label(form.firstName) }}
        <div class="ui input">
            {{ form_widget(form.firstName) }}
        </div>
    </div>
    {% if form_errors(form.firstName) %}
        <div class="ui negative message">
            {{ form_errors(form.firstName) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.lastName) ? 'error' : '' }}">
        {{ form_label(form.lastName) }}
        <div class="ui input">
            {{ form_widget(form.lastName) }}
        </div>
    </div>
    {% if form_errors(form.lastName) %}
        <div class="ui negative message">
            {{ form_errors(form.lastName) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.birthday) ? 'error' : '' }}">
        {{ form_label(form.birthday) }}
        <div class="ui input">
            {{ form_widget(form.birthday) }}
        </div>
    </div>
    {% if form_errors(form.birthday) %}
        <div class="ui negative message">
            {{ form_errors(form.birthday) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.nationality) ? 'error' : '' }}">
        {{ form_label(form.nationality) }}
        {{ form_widget(form.nationality) }}
    </div>
    {% if form_errors(form.nationality) %}
        <div class="ui negative message">
            {{ form_errors(form.nationality) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.occupation) ? 'error' : '' }}">
        {{ form_label(form.occupation) }}
        <div class="ui input">
            {{ form_widget(form.occupation) }}
        </div>
    </div>
    {% if form_errors(form.occupation) %}
        <div class="ui negative message">
            {{ form_errors(form.occupation) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.incomeRange) ? 'error' : '' }}">
        {{ form_label(form.incomeRange) }}
        {{ form_widget(form.incomeRange) }}
    </div>
    {% if form_errors(form.incomeRange) %}
        <div class="ui negative message">
            {{ form_errors(form.incomeRange) }}
        </div>
    {% endif %}

</div>

<div class="ui segment">
    <div class="ui header">{{ 'label.address_informations'|trans }}</div>

    <div class="field required {{ form_errors(form.addressLine1) ? 'error' : '' }}">
        {{ form_label(form.addressLine1) }}
        <div class="ui input">
            {{ form_widget(form.addressLine1) }}
        </div>
    </div>
    {% if form_errors(form.addressLine1) %}
        <div class="ui negative message">
            {{ form_errors(form.addressLine1) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.addressLine2) ? 'error' : '' }}">
        {{ form_label(form.addressLine2) }}
        <div class="ui input">
            {{ form_widget(form.addressLine2) }}
        </div>
    </div>
    {% if form_errors(form.addressLine2) %}
        <div class="ui negative message">
            {{ form_errors(form.addressLine2) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.postalCode) ? 'error' : '' }}">
        {{ form_label(form.postalCode) }}
        <div class="ui input">
            {{ form_widget(form.postalCode) }}
        </div>
    </div>
    {% if form_errors(form.postalCode) %}
        <div class="ui negative message">
            {{ form_errors(form.postalCode) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.city) ? 'error' : '' }}">
        {{ form_label(form.city) }}
        <div class="ui input">
            {{ form_widget(form.city) }}
        </div>
    </div>
    {% if form_errors(form.city) %}
        <div class="ui negative message">
            {{ form_errors(form.city) }}
        </div>
    {% endif %}

    <div class="field required {{ form_errors(form.country) ? 'error' : '' }}">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
    </div>
    {% if form_errors(form.country) %}
        <div class="ui negative message">
            {{ form_errors(form.country) }}
        </div>
    {% endif %}

</div>

<div class="ui center aligned container">
    <a class="ui button" href="{{ app.request.headers.get('referer') }}">
        {{ 'label.cancel'|trans }}
    </a>
    <button class="ui submit labeled icon primary button" type="submit">
        <i class="save icon"></i>
        {{ 'button.save'|trans }}
    </button>
</div>